.custom-bg-purple {
    background-color: #b601d2bf !important;
    color: white;
  }

  main.flex-grow-1{
    background-color: #4B0082 !important;
    color: white; 
  }
  footer.text-center {
    margin-top: 1 em;
    height: 100px;
    background-color: #4B0082;
    color: white;
    border-top: 1px solid rgba(182, 1, 210, 0.4);
    font-size: 1.2em;
    
  }